{% extends 'base_docs.html.twig' %}

{% block body %}
    <div class="docs-wrapper">
        <div id="docs-sidebar" class="docs-sidebar">
            <nav id="docs-nav" class="docs-nav navbar">
                <ul class="section-items list-unstyled nav flex-column pb-3">
                    <li class="nav-item section-title">
                        <a class="nav-link scrollto active" href="#intro">
                        <span class="theme-icon-holder mr-2">
                            <i class="{{ project.typeIcon }}"></i>
                        </span>
                            {{ project.name }}
                        </a>
                    </li>

                    {% for doc in docs %}
                        <li class="nav-item {{ doc.isSection() ? 'section-title mt-3' : '' }}">
                            <a class="nav-link scrollto" href="#{{ doc.slug|replace({'/': '_'}) }}">
                                {% if doc.sectionIcon %}
                                    <span class="theme-icon-holder mr-2">
                                        <i class="{{ doc.sectionIcon }}"></i>
                                    </span>
                                {% endif %}

                                {{ doc.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="docs-content">
            <div class="container">
                <article class="docs-article" id="intro">
                    <header class="docs-header">
                        {% if project.deprecated %}
                            <div class="callout-block callout-block-danger">
                                <div class="content">
                                    <h4 class="callout-title">
                                        <span class="callout-icon-holder mr-1">
                                            <i class="fa fa-ban"></i>
                                            <span>Deprecated</span>
                                        </span>
                                    </h4>
                                    <span>This project is deprecated and will be removed in the next major version.</span>
                                </div>
                            </div>
                        {% endif %}
                        <h1 class="docs-heading">
                            {{ project.name }}
                            <a href="{{ project.remoteOriginUrl }}"><i class="fa fa-github"></i></a>
                        </h1>
                        <section class="docs-intro">
                            <p>{{ project.description }}</p>
                        </section>
                    </header>

                    {% for doc in docs %}
                        <section class="docs-section" id="{{ doc.slug|replace({'/': '_'}) }}">
                            <h2 class="section-heading">
                                {% if doc.isSection() and doc.sectionIcon %}
                                    <i class="{{ doc.sectionIcon }}"></i>
                                {% endif %}
                                {{ doc.title }}
                                <div class="docs-time">
                                    Last Updated: {{ doc.lastModifiedAt|date('d/m/Y H:i:s') }} -
                                    <a href="{{ doc.githubEditUrl }}" target="_blank" title="Edit on Github">
                                        Edit on github <i class="fa fa-github"></i>
                                    </a>
                                </div>
                            </h2>

                            {{ doc.htmlContent|raw }}

                            <br>
                        </section>
                        <br>
                    {% endfor %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}
