<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}EonX Docs{% endblock %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <script defer src="https://kit.fontawesome.com/955de18180.js" crossorigin="anonymous"></script>

    <link rel="icon" href="https://39cszd96rb9jntgd3r2cirij-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/eonx-512-70x70.png" sizes="32x32">
    <link rel="icon" href="https://39cszd96rb9jntgd3r2cirij-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/eonx-512.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://39cszd96rb9jntgd3r2cirij-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/eonx-512.png">

    {% block stylesheets %}
        <link id="theme-style" rel="stylesheet" href="{{ asset('assets/css/theme.css') }}">
    {% endblock %}
</head>

{% block base_body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
</html>
